<!DOCTYPE html>
<html lang="en">
<head>

<title></title>
<meta charset="utf-8">
<meta name="title=" content="">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="">
<!-- <link rel="shortcut icon" href="icon.png"> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<link rel="stylesheet" href="styles.css">
<script src="scripts.js"></script>

</head>
<body class="text-center container">

	<h3 class="pt-2">Elements <small>Life & Gems</small></h3>

	<div id="app">
		{{ numAlive }} {{ numAlive | pluralize }} remaining
		<!-- todo: modify all players quick btns -->
		<!-- todo: checkbox to display quick btns -->
		<!-- todo: choose random player btn -->
		<!-- setting: remove deleted players -->
		<!-- setting: store in localstorage -->
		<!-- setting: url params -->
		<button @click="addPlayer()" class="btn">
			<i class="fas fa-plus"></i> Add player
		</button>
		<button @click="resetPlayers()" class="btn">
			<i class="fas fa-sync-alt"></i> Reset players
		</button>

		<div class="row">		
			<template v-for="player in players">
				<div class="p-2 col-xl-3 col-lg-4 col-md-6">
					<div :class="{dead: player.life < 1, win: player.gems > 19}" class="border shadow rounded p-2">
						<input v-model="player.name" type="text" class="form-control border-white col-8 font-weight-bold" onclick="this.select()">
						<button @click="removePlayer(player)" class="btn remove-btn">
							<i class="fas fa-times"></i>
						</button>

						<div class="mt-2">
							<span class="col-6">Life:</span>
							<input v-model="player.life" type="number" min="0" max="20" class="form-control d-inline col-6" onclick="this.select()">
						</div>
						<div class="btn-group mt-2">
							<button @click="updatePlayer(player, 'life', -5)" class="btn">-5</button>
							<button @click="updatePlayer(player, 'life', -3)" class="btn">-3</button>
							<button @click="updatePlayer(player, 'life', -1)" class="btn">-1</button>
							<button @click="updatePlayer(player, 'life', 1)" class="btn">+1</button>
							<button @click="updatePlayer(player, 'life', 3)" class="btn">+3</button>
							<button @click="updatePlayer(player, 'life', 5)" class="btn">+5</button>
						</div>

						<div class="mt-2">
							<span class="col-6">Gems:</span>
							<input v-model="player.gems" type="number" min="0" max="20" class="form-control d-inline col-6" onclick="this.select()">
						</div>
						<div class="btn-group mt-2">
							<button @click="updatePlayer(player, 'gems', -5)" class="btn">-5</button>
							<button @click="updatePlayer(player, 'gems', -3)" class="btn">-3</button>
							<button @click="updatePlayer(player, 'gems', -1)" class="btn">-1</button>
							<button @click="updatePlayer(player, 'gems', 1)" class="btn">+1</button>
							<button @click="updatePlayer(player, 'gems', 3)" class="btn">+3</button>
							<button @click="updatePlayer(player, 'gems', 5)" class="btn">+5</button>
						</div>
					</div>
				</div>
			</template>
		</div>
	</div>

</body>
</html>