img, button {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: #e6e6e6;
}
::selection {
	background: #e6e6e6;
}

.win {
	background-color: #9f9;
	border-color: #9f9 !important;
}
.dead {
	background-color: #f99;
	border-color: #f99 !important;
}

.remove-btn {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

input:hover, button:hover {
	border: 1px solid #6c757d !important; /* secondary color */
}

@media (max-width: 768px) {
	.btn-group .btn {
		/* _buttons.scss:105 */
		padding: .5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
	}
}
