img, button {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
::-moz-selection {
	background: #e6e6e6;
}
::selection {
	background: #e6e6e6;
}

.active {
	background-color: #99f;
	border-color: #99f;
}
.win {
	background-color: #9f9;
	border-color: #9f9 !important;
}
.dead {
	background-color: #f99;
	border-color: #f99 !important;
}

input:hover:not(:focus), button:hover:not(:focus) {
	border: 1px solid #6c757d !important; /* secondary color */
}


#footer {
	position: fixed;
	bottom: 0;
}
.footer-row {
	height: 4rem;
	line-height: 4rem;
}
#spacer {
	height: 6rem;
}
#footer.collapsed {
	bottom: -4rem;
}

@media (max-width: 768px) {
	.btn-group .btn:not(.footer-row .btn-group) {
		/* _buttons.scss:105 */
		padding: .5rem 1rem;
		font-size: 1.25rem;
		line-height: 1.5;
	}
	#footer.collapsed {
		bottom: -8rem;
	}
	#spacer {
		height: 10rem;
	}
}
